---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Student View">
    <section class="main-container flex flex-col justify-items-center mx-auto max-w-screen-md">
        <h2 class="text-3xl">Student Mode</h2>
        <div id="input-fields" class="flex flex-col sm:flex-row ">

            <div id="meter-radio" class="items-center justify-center">
                <label for="meter" class="block mb-2 text-sm font-medium">Select a meter:</label>
                <div class="flex items-center mb-4">
                    <input checked id="meter-radio-1" type="radio" value="" name="meter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">4/4</label>
                </div>
                <div class="flex items-center">
                    <input id="meter-radio-2" type="radio" value="" name="meter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="meter-radio-2" class="ml-2 text-sm font-mediu">3/4</label>
                </div>
            </div>

            <div id="mode-radio" class="items-center justify-center">
                <label for="keys" class="block mb-2 text-sm font-medium">Select a mode:</label>
                <div class="flex items-center mb-4">
                    <input checked id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Major</label>
                </div>
                <div class="flex items-center">
                    <input id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-radio-2" class="ml-2 text-sm font-mediu">Minor</label>
                </div>
            </div>
            <div id="key-select" class="flex flex-col max-w">
                <label for="keys" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Key:</label>
                <select id="keys" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:bg-persian-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Choose Key</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                </select>
            </div>
            <div class="flex items-center justify-start">
                <button id="generate-button" class="bg-persian-pink-500 hover:bg-persian-pink-700 text-white font-bold py-2 px-4 border bg-persian-pink-700 rounded">
                  Generate
                </button>
            </div>   
            
            
        </div>
        
        <div id="playback-buttons" class="flex ">
            <button id="play-button" class="bg-persian-pink-500 hover:bg-persian-pink-700 text-white font-bold py-2 px-4 border bg-persian-pink-800 rounded">
                Play
            </button>
            <button id="pause-button" class="bg-persian-pink-500 hover:bg-persian-pink-700 text-white font-bold py-2 px-4 border bg-persian-pink-800 rounded">
                Pause
            </button>
        </div>
        <div id="music-fields" class="flex grid grid-cols-1 w-full">
            Input Heard Pitches:
            <div id="abc-text-area" class="">
                <textarea id="notation-input" cols="100" rows="12" spellcheck="false" class="w-full h-full"></textarea>
            </div>
            <div id="playback-buttons" class="flex ">
                <button id="show-sheet-button" class="bg-persian-pink-500 hover:bg-persian-pink-700 text-white font-bold py-2 px-4 border bg-persian-pink-800 rounded">
                    Show Music Sheet
                </button>
                <button id="evaluate-button" class="bg-persian-pink-500 hover:bg-persian-pink-700 text-white font-bold py-2 px-4 border bg-persian-pink-800 rounded">
                    Evaluate
                </button>
                <div id="evalution-field"></div>
            </div>

            <div id="music-sheet" class="hidden">
                <label>Music Sheet</label>
                <div id="notation" class="overflow-x-auto bg-persian-pink-100">
            </div>
            </div>
        </div>
        <div>
            <div id="warnings"></div>

        </div>
    </section>
    
    <script >
        import {generateExercise} from "../scripts/exerciseManager"
        import {renderAbcSong,playPauseTune} from "../scripts/exercisePlayer"

        const textarea = document.querySelector("textarea");
        const maxHeight = 400; // specify the maximum height in pixels
        
        const setTextAreaHeight = ()=>{
            textarea.style.height = "auto";
            textarea.style.height = Math.min(textarea.scrollHeight, maxHeight) + "px";
        }
        
        textarea.addEventListener("input",setTextAreaHeight);
            
        const generateButton = document.querySelector("#generate-button");
        generateButton.addEventListener("click", async ()=>{
            console.log("generating exercise!")    
            let new_song = await generateExercise('header')
            const notation = document.querySelector('#notation');
            renderAbcSong(notation,new_song)
            console.log("rendered song")
            let msDiv = document.getElementById('music-sheet');
            msDiv.classList.remove('block');
            msDiv.classList.add('hidden');
        });

        const notationInput = document.querySelector('#notation-input');
        notationInput.addEventListener('input', () => {
            //const notation = document.querySelector('#notation');
            //console.log('notation input change!!!!!!!!!!!!!!')
            //console.log(notationInput.value)
            //renderAbcSong(notation, notationInput.value);
            setTextAreaHeight()
        });

        const showSheetButton = document.querySelector('#show-sheet-button');
        showSheetButton.addEventListener("click",() =>{
            console.log("Show music sheet clicked!")    
            let msDiv = document.getElementById('music-sheet');
            msDiv.classList.remove('hidden');
            msDiv.classList.add('block');
        });

        const evaluateButton = document.querySelector('#evaluate-button');
        evaluateButton.addEventListener("click",() =>{
            console.log("Show music sheet clicked!")    
            let evalDiv = document.getElementById('evalution-field');
            let accuracy = 0
            evalDiv.innerText = 'Accuracy:'+accuracy+'%'
        });

        const playButton = document.querySelector("#play-button");
        playButton.addEventListener("click",() => {
            console.log("play clicked!")
            playPauseTune() 
        });
        const pauseButton = document.querySelector("#pause-button");
        pauseButton.addEventListener("click",() =>{
            console.log("pause clicked!")    
            playPauseTune() 
        });

    </script>
</Layout>

<style>

    #input-fields{
        background-color: yellowgreen
        
    }

    #input-fields > div{
        border-width: 1rem;
        background-color: #c487e3;
    }

    #notation:first-child{
        background: #c487e3;
        width: 100%;
        height: 100%;
    }

    #playback-buttons{
        background-color: tomato;
    }

    #abc-text-area{
        padding-block: 1em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: blueviolet;
        
    }


    #music-fields{
        background-color: aqua;
    }

</style>
