<footer class="footer">
    <div class="container">
        <div>
            <h3>DeepEar Training</h3>    
            <p>
                THis is a demo website to show the interation with a 
                machine learning app.
            </p>
        </div>
        <div>
            <h3>Links</h3>
            <ul>
                <li>home</li>
                <li>about</li>
                <li>blog</li>
            </ul>
        </div>
    </div>
</footer>